In [1]:
import pandas as pd

In [8]:
waters_m = pd.read_excel('./waters_modified.xlsx',sheetname='peak_number')
agilent = pd.read_excel('./安捷伦.xlsx',sheetname='peak_number')

In [9]:
#Agilent中有，而waters没有的variables name
agilent.loc[:,~agilent.columns.isin(waters_m.columns)]

   retention_index  peak_efficiency  mass_on_column peak_amount_unit
0                0         10371.19               0               ""
1                0         14370.66               0               ""
2                0         17274.29               0               ""
3                0         19426.81               0               ""
4                0         20627.38               0               ""
5                0         21625.51               0               ""
6                0         17189.27               0               ""

In [10]:
waters = pd.read_excel('./waters.xlsx',sheetname='peak_number')
agilent = pd.read_excel('./安捷伦.xlsx',sheetname='peak_number')
agilent.loc[:,~agilent.columns.isin(waters.columns)]

   retention_index  peak_efficiency  mass_on_column peak_amount_unit
0                0         10371.19               0               ""
1                0         14370.66               0               ""
2                0         17274.29               0               ""
3                0         19426.81               0               ""
4                0         20627.38               0               ""
5                0         21625.51               0               ""
6                0         17189.27               0               ""

In [11]:
#waters中有，而Agilent没有的variables name
waters.loc[:,~waters.columns.isin(agilent.columns)]

   peak_area_square_root
0               444.0383
1               442.1934
2               392.9924
3               395.5414

In [12]:
#waters中有，而Agilent没有的variables name
waters_m.loc[:,~waters.columns.isin(agilent.columns)]

   peak_area_square_root
0               889.4673
1               882.7429
2               787.6427
3               794.2159

In [13]:
#agilent中的项是否在waters存在
s = agilent.columns.isin(waters.columns)
pd.Series(s,index=agilent.columns)

peak_number                     True
peak_retention_time             True
peak_amount                     True
peak_start_time                 True
peak_end_time                   True
peak_width                      True
peak_area                       True
peak_area_percent               True
peak_height                     True
peak_height_percent             True
baseline_start_time             True
baseline_start_value            True
baseline_stop_time              True
baseline_stop_value             True
retention_index                False
migration_time                  True
peak_asymmetry                  True
peak_efficiency                False
mass_on_column                 False
peak_name                       True
peak_amount_unit               False
peak_start_detection_code       True
peak_stop_detection_code        True
manually_reintegrated_peaks     True
dtype: bool

In [19]:
df = pd.concat([waters_m,agilent])

In [20]:
df.index = ['waters']*len(waters)+['agilent']*len(agilent)

In [21]:
df.loc[:,['peak_start_time','peak_end_time','baseline_start_time', 'baseline_start_value', 'baseline_stop_time','baseline_stop_value', 'migration_time']]

,peak_start_time,peak_end_time,baseline_start_time,baseline_start_value,baseline_stop_time,baseline_stop_value,migration_time
waters,65.52,93.0,65.52,0.000000,93.0,0.000000,74.88
waters,120.48,147.0,120.48,0.000000,147.0,0.000000,127.86
waters,177.48,207.0,177.48,0.000000,207.0,0.000000,186.36
waters,273.48,309.0,273.48,0.000000,309.0,0.000000,286.08
agilent,321.00,344.5,321.00,0.000041,344.5,0.000070,0.00
agilent,408.00,433.5,408.00,0.000036,433.5,0.000028,0.00
agilent,504.00,546.5,504.00,-0.000028,546.5,0.000110,0.00
agilent,740.50,827.0,740.50,-0.000047,827.0,-0.000002,0.00
agilent,915.00,987.5,915.00,-0.000058,987.5,-0.000003,0.00
agilent,1107.50,1179.5,1107.50,-0.000073,1179.5,-0.000002,0.00
agilent,1219.00,1313.0,1219.00,-0.000023,1313.0,-0.000015,0.00

In [17]:
df.columns

Index(['baseline_start_time', 'baseline_start_value', 'baseline_stop_time',
       'baseline_stop_value', 'manually_reintegrated_peaks', 'mass_on_column',
       'migration_time', 'peak_amount', 'peak_amount_unit', 'peak_area',
       'peak_area_percent', 'peak_area_square_root', 'peak_asymmetry',
       'peak_efficiency', 'peak_end_time', 'peak_height',
       'peak_height_percent', 'peak_name', 'peak_number',
       'peak_retention_time', 'peak_start_detection_code', 'peak_start_time',
       'peak_stop_detection_code', 'peak_width', 'retention_index'],
      dtype='object')